[Desktop Entry]
Type=Application
Version=1.0
Name=ALG Welcome
GenericName=Welcome
Keywords=utility;system;welcome;
Encoding=UTF-8
Terminal=false
Exec=alg-welcome
Icon=welcome
Comment=ALG Onboarding & Maintenance tool
Categories=System;Install;
StartupNotify=true
