[Desktop Entry]
Type=Application
Version=1.0
Name=ALG Welcome
GenericName=Welcome
Keywords=utility;system;welcome;
Encoding=UTF-8
Terminal=false
Exec=archer
Icon=archer
Comment=ALG Onboarding & Maintenance tool
Categories=System;Install;
StartupNotify=true
