[Desktop Entry]
Type=Application
Version=1.0
Name=Archer
GenericName=Welcome
Keywords=utility;system;welcome;
Encoding=UTF-8
Terminal=false
Exec=archer
Icon=archer
Comment=ALG Welcome App
Categories=System;Install;
StartupNotify=true
