label {
  font-size: 14px;
  font-weight: bold;
}

button {
  font-size: 10px;
  border-radius: 6px;
  padding: 5px 10px;
  transition: background-color 0.2s ease;
  outline: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

#header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* switch {
  margin: 5px;
}

switch:checked {
  background-color: #6b22cc;
} */

:root {
  --svg-color: #000;
}

.dark-mode {
  --svg-color: #fff;
}

svg {
  color: var(--svg-color);
}
